{% load i18n %}

<table class="table">
    <thead>
    <tr>
        <th class="">{% trans 'Field Name' %}</th>
        <th class="">{% trans 'Contents' %}</th>
        <th class="">{% trans 'Where field occurs' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for key, value in additional_fields.items %}
            <tr>
                <td>
                    {{ value.field_name }}
                </td>
                <td>
                    {{ value.examples }}
                </td>
                <td>
                    {{ value.path }}
                </td>
            </tr>
    {% endfor %}
    </tbody>
</table>
