{% extends 'libcoveweb2/base.html' %}
{% load i18n %}
{% load static %}

{% block after_head %}
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
{% endblock %}

{% block banner %}
{% endblock %}

{% block page_header %}
{% endblock %}

{% block full_width_header %}

<div class="full_width_header">
  <div class="container">
    <div class="page-header">
      <div class="row border-bottom">
        <div class="col-xs-10">
          <a href="{% url 'index' %}">
            <h1>Risk Data Library Standard Convertor</h1>
          </a>
        </div>
        <div class="col-xs-2">
           <!-- Language select button goes here -->
        </div><!--col-md-2-->
      </div><!--row-->
      <div class="row">
        <div class="col-xs-7">
          {% block h1 %}<h1 class="application-name"><a href="{% url 'index' %}">{% blocktrans %} Convert and validate metadata{% endblocktrans %} </a></h1>{% endblock %}
        </div><!--col-md-8-->
        <div class="col-xs-5">
          <a href="https://rdl-standard.readthedocs.io/en/latest/"><h3 class="docs-link pull-right">{% blocktrans %} RDLS Documentation {% endblocktrans %}</h3></a>
        </div><!--col-md-8-->
      </div><!--row-->
    </div><!--page-header-->
  </div><!--container-->
</div>

<div class="container">
   <div class="row rdls-header-button">
      <div class="col-xs-12">
        {% block header_button %}{% endblock header_button %}
      </div>
   </div>
</div>

{% endblock %}

{% block bootstrap_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'dataexplore/fonts/tick/tick.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dataexplore/css/bootstrap-rdls.css' %}">
{% endblock %}

{% block link %}
<li><a href="https://rdl-standard.readthedocs.io/en/latest/">{% trans "Risk Data Library Standard" %}</a></li>
<li><a href="https://www.gfdrr.org/en">{% trans "Global Facility for Disaster Reduction and Recovery" %}</a></li>
<li><a href="https://www.gfdrr.org/en"><img src="{% static 'dataexplore/imgs/gfdrr-logo.png' %}" style="max-width: 50%; margin: 50px 0 25px auto;" alt="Logo"/></a></li>
{% endblock %}

{% block bottomcontent1 %}
<div class="row" id="introduction">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">

        <h1 class="heading-in-panel"> <small> {% blocktrans %}About the Risk Data Library Standard{% endblocktrans %}</small> </h1>
        <p>The <a href="https://docs.riskdatalibrary.org/">Risk Data Library Standard (RDLS)</a> is an open metadata standard for describing risk datasets used in climate and disaster risk assessments.</p>
        <p>The purpose of the RDLS is to enable risk reduction and resilience building by making it easier for risk data publishers to describe their datasets and for risk data users to identify datasets to use in their work.</p>
        <p>For more information about the RDLS, <a href="https://docs.riskdatalibrary.org/">read its documentation</a>.</p>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">

        <h1 class="heading-in-panel"> <small> {% blocktrans %}Getting feedback on your metadata{% endblocktrans %}</small> </h1>

        <p>The RDLS Convertor validates your metadata against the <a href="https://docs.riskdatalibrary.org/en/dev/reference/schema/">RDLS schema</a> and provides feedback on its structure and format. The convertor reports validation errors including missing required fields and fields with incorrect types or formats. It also reports any additional fields in your metadata that are not specified in the RDLS schema.</p>

        <p>You should use the guidance provided by the RDLS Convertor to fix the issues with your metadata. To support further review, you can download your data in alternative formats.</p>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block topcontent1 %}
<div class="row" id="how-to-use">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="heading-in-panel"> <small> {% blocktrans %}Convert and validate your RDLS metadata{% endblocktrans %}</small> </h1>
        <p>{% blocktrans %}Use the form below to submit your RDLS metadata for conversion and validation against the RDLS schema.{% endblocktrans %}</p>

        <ul>
            <li>{% blocktrans %}<b>Spreadsheet format</b>: a completed <a href="https://github.com/GFDRR/rdls-spreadsheet-template/">RDLS spreadsheet template</a> in XLSX format.{% endblocktrans %}</li>
            <li>{% blocktrans %}<b>JSON format</b>: A UTF-8 encoded JSON file that conforms to the <a href="https://docs.riskdatalibrary.org/en/dev/reference/package_schema/">RDLS package schema</a>.{% endblocktrans %}</li>
        </ul>

        <p>For more information on how to prepare RDLS metadata, read the <a href="https://docs.riskdatalibrary.org/en/dev/guides/metadata/#prepare-your-metadata">guidance</a>.</p>

        <p>You can submit metadata in the above formats by uploading it from your local machine, providing a link to a publicly-accessible URL or pasting it from your clipboard (JSON format only).</p>

        <p>After submitting your metadata, you can download it in alternative formats and get feedback on its quality. The RDLS Convertor stores your metadata for 90 days at a randomly generated URL. You can share the URL with others to support discussion of data quality.</p>

        <p><strong>Support and feedback</strong></p>

        <p>Need help with publishing RDLS metadata? Contact a member of the Risk Data Library team: <a href="mailto:contact@riskdatalibrary.org">contact@riskdatalibrary.org</a></p>

        <p>To submit feedback on the RDLS Convertor or to report a bug, <a href="https://github.com/GFDRR/rdls-cove/issues/new/choose">open a GitHub issue</a>.</p>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block bottomcontent3 %}
{% endblock %}

{% block about %}
<li>{% trans "Built by" %} <a href="http://opendataservices.coop/">{% trans "Open Data Services" %}</a></li><li>{% trans "The code for this site is available on" %}<br>{% trans "GitHub" %}: <a href="https://github.com/GFDRR/rdls-cove/">rdls-cove</a><br>{% trans "Licence" %}: <a href="https://www.gnu.org/licenses/agpl-3.0.html">{% trans "AGPLv3" %}</a><br>{% trans "Report/View issues" %}: <a href="https://github.com/GFDRR/rdls-cove/issues">{% trans "rdls-cove issues" %}</a>
</li>
{% endblock %}

{% block terms %}
<li><a href="https://riskdatalibrary.org/terms">{% trans "Terms &amp; Conditions" %}</a></li>
<li><a href="https://riskdatalibrary.org/privacy">{% trans "Privacy Policy" %}</a></li>
{% endblock %}


{% block version_link %}
<p class="text-muted">{% blocktrans %}Running version {% endblocktrans %}<a href="https://github.com/GFDRR/rdls-cove/tree/{{request.tag}}">{{request.tag}}</a></p>
{% endblock %}
