{% load i18n %}
{% load cove_tags %}

<table class="table table-condensed">
<thead>
  <tr>
    <th>{% trans 'Error Description' %}</th>
    <th>{% trans 'Error Count' %}</th>
    <th>{% trans 'First 3 Examples' %}</th>
    <th>{% trans 'Location of first 3 errors' %}</th>
  </tr>
</thead>
<tbody>
{% for type, errors in validation_errors.items %}
<tr>
  <td>
    <p>
      {% if errors.0.validator == "const" %}
        <strong><code>{{ errors.0.path_ending}}</code> does not match constant specified in schema. The value must be {{ errors.0.validator_value }}.</strong>
      {% elif errors.0.validator == "exclusiveMinimum" %}
	<strong><code>{{ errors.0.path_ending}}</code> is less than or equal to the mininum value of {{ errors.0.validator_value }}.</strong>
      {% elif errors.0.validator == "required" %}
        <strong><code>Required field {{ errors.0.extra.required_key_which_is_missing }}</code> is missing. Your data must contain the required fields specified in the schema. Check that the field is present and not mispelled.</strong>
      {% elif errors.0.validator == "maximum" %}
	<strong><code>{{ errors.0.path_ending}}</code> is greater than the maximum value of {{ errors.0.validator_value }}.</strong>
      {% elif errors.0.validator == "minimum" %}
        <strong><code>{{ errors.0.path_ending}}</code> is less than the mininum value of {{ errors.0.validator_value }}.</strong>
      {% elif errors.0.validator == "minItems" and errors.0.validator_value == 1 %}
	<strong><code>{{ errors.0.path_ending}}</code> is an empty array. Fields with no value must be omitted in their entirety (key and value).</strong>
      {% elif errors.0.validator == "minItems" and errors.0.validator_value > 1 %}
	<strong><code>{{ errors.0.path_ending}}</code> has fewer than the minimum number of items. <code>{{ errors.0.path_ending}}</code> must have at least {{ errors.0.validator_value }} items. </strong>
      {% elif errors.0.validator == "maxItems" %}
        <strong><code>{{ errors.0.path_ending}}</code> has greater than the maximum number of items. <code>{{ errors.0.path_ending}}</code> must have no more than {{ errors.0.validator_value }} items. </strong>
      {% elif errors.0.validator == "uniqueItems" %}
	<strong><code>{{ errors.0.path_ending}}</code> has non-unique items. The items in <code>{{ errors.0.path_ending}}</code> must be unique.</strong>
      {% elif errors.0.validator == "enum" %}
	<strong><code>{{ errors.0.path_ending }}</code> does not match any code. <code>{{ errors.0.path_ending }}</code> must match a code from the codelist specified in the schema.</strong>
      {% elif errors.0.validator == "pattern" and errors.0.path|length > 2 and errors.0.path|slice:"-2:-1" == "Link" and errors.0.path|last == "rel" %}
        <strong><code>{{ errors.0.path_ending }}</code> does not match the regex <code>{{ errors.0.validator_value }}</code>. With the exception of the first item in the <code>links</code> array, the value of <code>{{ errors.0.path_ending }}</code> must not be 'describedby'.</code></strong>
      {% elif errors.0.validator == "format" and errors.0.validator_value == "date" %}
        <strong><code>{{ errors.0.path_ending }}</code> is not a date. Date values must be provided in <code>YYYY-MM-DD</code> format.</strong>
      {% elif errors.0.validator == "format" and errors.0.validator_value == "iri" %}
	<strong><code>{{ errors.0.path_ending }}</code> is not an IRI. IRI values must be formatted according to <a href="https://datatracker.ietf.org/doc/html/rfc3987">RFC3987</a>.</strong>
      {% elif errors.0.validator == "format" and errors.0.validator_value == "date-time" %}
        <strong>Date is not in the correct format. The correct format is YYYY-MM-DDT00:00:00Z.</strong>
      {% elif errors.0.validator == "format" and errors.0.validator_value == "uri" %}
        <strong>Invalid uri found</strong>
      {% elif errors.0.validator == "minLength" %}
	<strong><code>{{ errors.0.path_ending }}</code> is an empty string. Fields with no value must be omitted in their entirety (key and value).</strong>
      {% elif errors.0.validator == "maxLength" %}
        <strong><code>{{ errors.0.path_ending }}</code> is too long. It should not exceed {{ errors.0.validator_value }} characters.</strong>
      {% elif errors.0.validator == "type" and errors.0.validator_value == "number" %}
        <strong><code>{{ errors.0.path_ending }}</code> is not a number. Number values must contain only digits (<code>0-9</code>) and, optionally, the dot character (<code>.</code>). Numbers must not be enclosed in quote characters, e.g. <code>1</code> is an number, but <code>"1"</code> is a string.</strong>
      {% elif errors.0.validator == "type" and errors.0.validator_value == "array" %}
        <strong><code>{{ errors.0.path_ending }}</code> is not an array. Array values must be enclosed in square brackets (<code>[</code> and <code>]</code>.</strong>
      {% elif errors.0.validator == "type" and errors.0.validator_value == "string" %}
        <strong><code>{{ errors.0.path_ending }}</code> is not a string. String values must begin and end with the quote character (<code>"</code>) and any quotes within the value must be escaped with a backslash (<code>\</code>).</strong>
      {% elif errors.0.validator == "type" and errors.0.validator_value == "boolean" %}
        <strong><code>{{ errors.0.path_ending }}</code> should be a JSON boolean, <code>true</code> or <code>false</code>.</strong>
      {% elif errors.0.validator == "type" and errors.0.validator_value == "object" %}
        <strong><code>{{ errors.0.path_ending }}</code> is not an object. Object values must be enclosed in curly braces (<code>{</code> and <code>}</code>) and must contain only key/value pairs.</strong>
      {% elif errors.0.validator == "minProperties" %}
        <strong><code>{{ errors.0.path_ending }}</code> is an empty object. Fields with no value must be omitted in their entirety (key and value).</strong>
      {% elif errors.0.validator == "dependencies" %}
        <strong>{{ errors.0.message  }}</strong>
      {% elif errors.0.validator == "oneOf" and "schema" in errors.0.message and errors.0.path|length > 2 and errors.0.path|slice:"-2:-1" == "Period" and errors.0.path|last in ("start", "end") %}
	<strong><code>{{ errors.0.path_ending }}</code> is incorrectly formatted. It must be formatted as a date (<code>YYYY-MM-DD</code>), a year-month (<code>YYYY-MM</code>) or a year (<code>YYYY</code>).</strong>
      {% elif errors.0.validator == "anyOf" %}
        <strong>{{ errors.0.message  }}</strong>
      {% else %}
        <strong>{{ errors.0.validator  }} = {{ errors.0.message  }}</strong>
      {% endif %}
    </p>
  </td>
  <td class="text-center">
    {% if errors|length > 3 %}
      <a data-toggle="modal" data-target=".{{"validation-errors-"|concat:forloop.counter}}">
        {{errors|length}}
      </a>
    {% else %}
        {{errors|length}}
    {% endif %}
  </td>
  <td>
    <ul class="list-unstyled">
      {% for error in errors|slice:":3" %}
        {% if error.instance|get_variable_type != "dict" %}<li> {{error.instance}} </li>{% endif %}
      {% endfor %}
    </ul>
  </td>
  <td>
    <ul class="list-unstyled">
      {% for error in errors|slice:":3" %}
        <li>
          {{ error.path|join:"/" }}
        </li>
      {% endfor %}
    </ul>
  </td>
</tr>
{% endfor %}
</tbody>
</table>
